body{
    display: grid;
    grid-template-rows: 2fr 4fr;
    height: 90vh;
    width: 80vw;
    background-color: black;
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    grid-column: 1/3;
    grid-row: 1/2;
    height: 100px;
    background-color: #8b5cf6;
    color: white;
    justify-content: start;
    align-items: center;
    padding-left: 70px;
    font-style: italic;
}

.logo {
    font-size: 250%;
    font-weight: 900;
}

.sidebar {
    display: grid;
    grid-template-rows: .7fr .2fr;
    grid-column: 1/2;
    grid-row: 2/3;
    background-color: #7c3aed;
    height: auto;
    width: auto;
    color: white;
    font-size: larger;
    font-weight: 600;
}

#content {
    display: grid;
    grid-column: 2/3;
    grid-row: 2/3;
    height: auto;
}

.createBtn {
    border: 1px solid green;
    grid-row: 2/3;
    height: 40px;
    width: 40px;
    font-size: xx-large;
    justify-self: center;
    align-self: center;
}

.project {
    display: flex;
    width: 100px;
    flex-flow: row;
    flex-wrap: wrap;
    height: 399px;
}

.defaultContianer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-style: italic;
    height: 195px;
}


.title {
    font-size: xx-large;
    justify-self: center;
    align-self: center;
}

.taskDisplay{
    display: flex;
    flex-direction: column;
    height: 484px;
    width: 760px;
    padding-left: 30px;
    padding-right: 30px;
    gap: 15px;
    padding-top: 30px;
    padding-bottom: 15px;
    grid-row: 2/3;
    overflow: auto;
    background-color: #a78bfa;
}

.taskInfoContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 80px;
    width: 735px;
    color: #5b21b6;
    font-size: large;
    font-style: italic;
    background-color: #d8b4fe;
}

.taskInfoContainer:hover {
    box-shadow: 8px 10px 13px 0px black;
}

.taskCheckBox {
    grid-column: 1/2;
    height: 20px;
    width: 20px;
    accent-color: #8b5cf6;
}

.checkBoxTitleWrapper {
    grid-column:  1/2;
    display: flex;
    padding-left: 30px;
    gap: 12px;
    align-items: center;
}


.editPanelDialog {
    padding: 0;
    background-color: #818cf8;
    color: white;
    border: 1px solid purple;
}

dialog::backdrop {
    background-color: black;
    opacity: .8;
}

#projectInputLabel {
    height: 10px;
    width: 140px;
    margin-left: 5px;
}

.projectFormContainer {
    border: 1px solid purple;
}

.taskFormText,
.projectFormText {
    cursor: pointer;
    display: flex;
    height: 30px;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: large;

}

.taskFormText:hover,
.projectFormText:hover {
    background-color: #5b21b6;
    color: white;
}


.projectName {
    display: flex;
    height: 80px;
    justify-content: center;
    font-size: xx-large;
    color: white;
    font-weight: 500;
    font-style: italic;
}


.detailsToDeleteWrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column: 2/3;
    justify-content: center;
    align-items: center;
    gap: 15px;
}


.taskEdit {
    height: 26px;
    background-color: white;
    color: black;
    border: none;
    cursor: pointer;
}

.taskDelete {
    display: flex;
    cursor: pointer;
    height: 26px;
    width: 70px;
    font-size: 15px;
    background-color: white;
    justify-content: center;
    align-items: center;
    color: black;
}

.taskDetails {
    height: 26px;
    color: black;
    border: none;
    background-color: white;
}

.taskEdit:hover {
    background-color: #5b21b6;
    color: white;
}

.taskDetails:hover {
    background-color: #5b21b6;
    color: white;
}


.taskDelete:hover {
    background-color: #5b21b6;
    color: white;
}

.taskTitle {
    color: white;
}

.taskDate {
    font-size: 16px;
    color: white;
    font-weight: 700;
}


.taskSubmitBtnContainer {
    display: flex;
    grid-column: 1/3;
    justify-content: center;
    align-items: center;
}

.projectContainer {
    display: flex;
    flex-flow: column;
    justify-self: center;
    padding: 30px;
    width: 135px;
    height: 380px;
    overflow-y: auto;
    border-bottom: none;
    grid-row: 1/2;
    gap: 15px;
}

.projectContainer > div {
    display: flex;
    justify-content: center;
    cursor: pointer;
    text-align: center;
}

.projectContainer > div:hover {
    color: white;
    font-size: larger;
    background-color: #5b21b6;
}

.taskContainer {
    display: flex;
    flex-direction: column;
    grid-row: 2/3;
    overflow-y: auto;
    gap: 20px;
    justify-content: start;
    align-items: center;
    height: 450px;
}


.deleteInfoContainer {
    display: flex;
    flex-direction: column;
    height: 80px;
    justify-content: space-around;
    align-items: center;
}

.deleteButtonTitle {
    font-size: 20px;
    color: white;
    font-weight: 700;
}
.deleteProjectBtn {
    width: 115px;
    height: 30px;
}

.taskDetailsContainer {
    display: grid;
    grid-template-rows: repeat(4, 1fr) 2fr;
    height: 300px;
    width: 320px;
    color: white;
    background-color: #818cf8;
    font-weight: 600;
    font-size: large;
    padding-left: 10px;
}

.closeDetailsBtn {
    height: 30px;
    width: 150px;
    justify-self: center;
    align-self: center;
}

.detailsTitle {
    display: flex;
    align-items: center;
}

.descriptionContainer {
    height: 60px;
    font-size: 15px;
    overflow-y: auto;
    overflow-x:hidden;
}


.detailsPriorityContainer {
    display: flex;
    gap: 20px;
    align-items: center;
}

.detailsPriorityLabel {
    align-self: center;    
}

.priorityInput {
    align-self: center;
}

.formDialog {
    background-color: #ddd6fe;
}

.mainFormContainer {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 5fr;
    height: 330px;
    width: 430px;
}

.formHeader {
    grid-column: 1/3;
    grid-row: 1/2;
    height: 50px;
    font-size: x-large;
    font-weight: bolder;
    border-bottom: 2px inset white;
}

.formWrapper {
    grid-column: 1/2;
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 15px;
}

.formDisplay {
    grid-column: 2/3;
    grid-row: 2/3;
}

.taskForm {
    display: grid;
    grid-template-rows: repeat(4, 1fr) 3fr;
    padding: 15px;
    gap: 10px;
}

.taskTitleInput {
    grid-column: 1/3;
    grid-row: 1/2;
    height: 26px;
    align-self: center;
}

.inputTaskDetails {
    grid-column: 1/3;
    grid-row: 2/3;
}

.dateLabel {
    grid-column: 1/2;
    grid-row: 3/4;
    align-self: center;
    font-size: large;
}

#date {
    height: 20px;
    grid-column: 2/3;
    grid-row: 3/4;
    align-self: center;
}

.priorityLabel {
    grid-column: 1/2;
    grid-row: 4/5;
    font-size: large;
}

.priorityOptionContainer {
    display: flex;
    grid-column: 2/3;
    grid-row: 4/5;
    justify-content: space-around;
}

.priorityLow,
.priorityHigh,
.priorityExtreme {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 63px;
    height: 23px;
    color: white;
    cursor: pointer;
}

.taskFormSubmitBtn {
    width: 150px;
    height: 30px;
    background-color: white;
    border: none;
    font-weight: bold;
}

.taskFormSubmitBtn:hover {
    background-color: #5b21b6;
    color: white;
}


.priorityExtremeDetails,
.priorityHighDetails,
.priorityLowDetails {
    width: 100px;
    cursor: pointer;
    background-color: white;
}

.priorityInputDetailsContainer {
    display: flex;
    flex-direction: column;
    width: 120px;
    gap: 7px;
}

.priorityLowDetails {
    color: green;
    margin-top: 4px;
}

.priorityHighDetails {
    color: blue;
}

.priorityExtremeDetails {
    color: purple
}


.projectForm {
    margin-top: 20px;
    height: 270px;
}


#projectInputLabel {
    height: 15px;
    margin-right: 5px;
}

.submitBtn {
    width: 100px;
    height: 20px;
    background-color: white;
    border: none;
}

.submitBtn:hover {
    background-color: #5b21b6;
    color: white;
}